.content-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.connection-page-form{
  margin-top: 1rem;
}

.connect-wrapper{
  margin: .5rem;
  display: flex;
  flex-direction: column;
}
