.back-button {
  margin: 0 0 0 1rem;
}

.item-defect-flex-main {
  display: flex;
  flex-direction: column;
}

.item-defect-flex-item-infos {
  display: flex;
  flex-direction: column;
}

.item-defect-textarea {
  border: solid #f6f7f9 2px;
  border-radius: 6px;
}

.page-io-bottom-toolbar {
  justify-content: center;
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
}
