<ion-header>
  <ion-toolbar>
    <ion-buttons
      *ngIf="this.showMobileMenu"
      slot="start" class="back-button" (click)="backButtonClicked()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Equipment: {{this.item?.model_name}} / {{this.item?.status}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="item-defect-flex-main ion-margin ion-padding">
    <div class="item-defect-flex-item-infos">
      <p>MOCK INFOS for tests</p>
      <p>Item Name: {{this.item?.model_name}}</p>
      <p>Item Beschreibung: {{this.item?.description}}</p>
    </div>
    <div *ngIf="this.item?.status === 'aktiv'" class="item-defect-textarea">
      <ion-textarea
        placeholder="Gib Informationen ein, warum der Gegenstand deaktiviert/dekommissioniert wird..."></ion-textarea>
    </div>
    <div *ngIf="this.item?.status === 'inaktiv'" class="item-defect-textarea">
      <ion-textarea
        placeholder="Gib Informationen ein, warum der Gegenstand aktiviert wird..."></ion-textarea>
    </div>
  </div>
  <div class="page-io-bottom-toolbar" [ngClass]="{ 'ion-justify-content-between': !showMobileMenu }">
    <div *ngIf="!showMobileMenu">
      <ion-button class="max-width-100" color="secondary"
                  (click)="backButtonClicked()">
        Zurück
      </ion-button>
    </div>
    <ion-button class="max-width-100" color="danger" [fill]="'outline'"
                (click)="decommissionAndReturn()">
      Dekommissionieren
    </ion-button>
    <ion-button class="max-width-100" [color]="this.item?.status === 'aktiv' ? 'danger' : 'success'"
                (click)="deactivateAndReturn()">
      {{this.item?.status === 'aktiv' ? 'Defekt melden' : 'aktivieren'}}
    </ion-button>
  </div>
</ion-content>
