<ion-list>
  <div class="grid margin-spacing">
    <ion-label>Item Typ</ion-label>
    <ion-label class="ion-text-end">Model</ion-label>
    <ion-label class="ion-text-end">Status</ion-label>
    <ion-label class="ion-text-end">Verfügbar?</ion-label>
  </div>
  <ion-item *ngFor="let item of items" [ngClass]="{borrowedItem: item.borrowed}" (click)="emitItemClick(item)" class="clickable">
    <div class="grid">
      <ion-label> {{ item.item_type || '-' }}</ion-label>
      <ion-label class="ion-text-end"> {{ item.model_name || '-' }}</ion-label>
      <ion-label [ngStyle]="{'color':item.status == 'inaktiv' ? 'red' : '#4CAF50'}" class="ion-text-end"> {{ item.status || '-' }}</ion-label>
      <ion-label [ngStyle]="{'color':item.borrowed === true ? '#FBC02D' : '#4CAF50'}" class="ion-text-end"> {{ !!item.borrowed ? 'Nein' : 'Ja'  }}</ion-label>
    </div>
  </ion-item>
</ion-list>
