.qr-scanner-horizontal{
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}

.qr-scanner-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.qr-scanner-video-element-container{
  margin: 1rem 2rem;
  min-height: 406px;
}
