<ion-header>
  <ion-toolbar>
    <ion-buttons
      *ngIf="this.showMobileMenu"
      slot="start" class="back-button" (click)="this.router.navigate(['/tabs/settings'])">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Gegenstand hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="equipment-page-wrapper">

  <!-- Formular -->
  <div class="equipment-add-form-wrapper">
    <form class="equipment-add-form" [formGroup]="addItemForm">
      <ion-list>
        <ion-item>
          <ion-icon name="journal" class="ion-margin"></ion-icon>
          <ion-label>Type</ion-label>
          <ion-select formControlName="itemType" interface="popover" placeholder="Wähle Type">
            <ion-select-option cy-data="type-test" *ngFor="let type of typeArray" [value]="type">{{type.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="car" class="ion-margin"></ion-icon>
          <ion-label>Modell</ion-label>
          <ion-select formControlName="itemModel" cy-data="model-dropdown" interface="popover" placeholder="Wähle Modell">
            <ion-select-option *ngFor="let model of filteredModelArray" [value]="model" cy-data="model-test">{{model.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="equipment-add-form-item">
          <ion-icon name="keypad" class="ion-margin"></ion-icon>
          <ion-label>Seriennummer</ion-label>
          <ion-input placeholder="Seriennummer"  formControlName="itemSN"></ion-input>
        </ion-item>
        <ion-item class="equipment-add-form-item">
          <ion-icon name="chatbox-ellipses" class="ion-margin"></ion-icon>
          <ion-label>Beschreibung</ion-label>
          <ion-input placeholder="Beschreibung"  formControlName="itemDescription"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>
  <div class="equipment-add-bottom-toolbar" [ngClass]="{'ion-justify-content-between': !showMobileMenu}">
    <div *ngIf="!showMobileMenu">
      <ion-button class="max-width-100" color="primary" [fill]="'outline'"
                  (click)="backButtonClicked()">
        Zurück
      </ion-button>
    </div>
      <ion-button class="max-width-100" [fill]="'outline'" color="danger" (click)="resetForm()">
        Formular zurücksetzen
      </ion-button>
      <ion-button class="max-width-100" color="primary" (click)="onSubmit()" type="submit">
        Anlegen
      </ion-button>
  </div>

  </div>

</ion-content>
