<ion-app>
  <ion-split-pane contentId="main-content" (ionSplitPaneVisible)="onSplitPaneChange($event)">
    <ion-menu contentId="main-content" menuId="main-menu-id" type="overlay">
      <ion-content>
        <div class="flex-column">
          <ion-list id="inbox-list">
            <div  class="flex-logo ion-justify-content-center">
              <img src="../assets/images/DEM.png" alt="Digital Equipment Manager Logo" width="400px"/>
            </div>
            <app-date-time-display></app-date-time-display>
            <ion-note class="date"> {{mydate | amLocal | amDateFormat: 'dddd, DD.MM.YYYY'}}</ion-note>

            <ion-menu-toggle auto-hide="false" *ngFor="let link of sidebarRoutes; let i = index">
              <ion-item
                [ngClass]="{
               'secondary-link': link.secondary
              }"
                routerDirection="root"
                [routerLink]="[link.url]"
                [queryParams]="link.params || {}"
                lines="none"
                detail="false"
                routerLinkActive="selected"
                [disabled]="link.disabled">
                <ion-icon slot="start" [ios]="link.icon + '-outline'" [md]="link.icon + '-sharp'"></ion-icon>
                <ion-label>{{ link.title }}</ion-label>

              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <div class="flex-grow flex-column ion-justify-content-end">
            <ion-item button class="ion-justify-content-between ion-color-medium" (click)="logoutUser()">
              <ion-label>Logout</ion-label>
              <ion-icon name="log-out"></ion-icon>
            </ion-item>
          </div>

        </div>
      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
