<ion-list>

  <ion-list-header>
    <ion-label>Vorname</ion-label>
    <ion-label>Nachname</ion-label>
    <ion-label>Datum Ausgabe</ion-label>
    <ion-label>Datum Rückgabe</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let booking of bookings">
      <ion-label> {{ booking.person?.firstname }}</ion-label>
      <ion-label> {{ booking.person?.lastname }}</ion-label>
      <ion-label> {{ (booking.datetime_out | date ) || '-' }}</ion-label>
      <ion-label> {{ (booking.datetime_in | date ) || '-' }}</ion-label>
  </ion-item>
</ion-list>
