<ion-content [fullscreen]="true">
<ion-tabs>
  <ion-tab-bar slot="bottom"
               [ngClass]="{'visibility-hidden' : commonStateService.getSplitPaneVisible() | async}">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-sharp"></ion-icon>
      <ion-label>Menü</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logoutUser()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
</ion-content>
