<ion-header>
  <ion-toolbar>
    <ion-title>An Mitarbeiter ausgeben</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="equipment-page-vertical">
    <div class="employee-page-horizontal">
      <p class="employee-page-qr-header">
        Qr Code des Mitarbeiters für die Ausgabe Scannen oder eintippen.
        Alternativ kann nach Name des Mitarbeiters gesucht werden
      </p>
    </div>

    <app-qr-control placeholder="Name/Qr code eintippen oder scannen"
                    (onQrClick)="onScanClicked($event)"
                    [showContinueButton]="false"
                    (onValueInputChange)="onValueChange($event)"
    ></app-qr-control>

    <div class="employee-page-content-wrapper">
      Placeholder for list of employees
    </div>
  </div>
</ion-content>
