<ion-card class="ion-padding">
  <ion-card-header>
    <ion-card-title><ion-icon name="key-sharp"></ion-icon>Login</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="text">Bitte geben Sie ihre Login Daten ein um fortzufahren.</p>
    <ion-item class="input_field">
      <ion-input #email color="white" clearInput="true" type="email" name="Login_Username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item class="input_field">
      <ion-input #password color="white" clearInput="true" type="password" name="Login_Password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button class="button" cy-data="login-button" (click)="loginUser(email.value, password.value)">
      log me in
    </ion-button>
  </ion-card-content>
</ion-card>


