<ion-header>
  <ion-toolbar>
    <ion-buttons
      *ngIf="this.showMobileMenu"
      slot="start" class="back-button" (click)="this.router.navigate(['/tabs/dashboard'])">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Equipment: {{this.item?.model_name}}</ion-title>
    <ion-buttons slot="primary" *ngIf="this.showMobileMenu">
      <ion-button color="primary" (click)="onMenuClicked()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="equipment-page-io-vertical h-100">

    <div class="equipment-page-io-horizontal flex-wrap flex-grow">

      <div class="equipment-page-io-vertical flex-grow">
        <div class="equipment-page-io-horizontal equipment-page-io-ordered"
             [ngClass]="{ 'equipment-io-mobile-column': showMobileMenu }">
          <div class="equipment-page-picture-wrapper">
            <ion-img [src]="'assets/equipment/'+ (this.item?.photo || 'no-image.png')"></ion-img>
          </div>
          <div class="equipment-page-io-vertical flex-grow">
            <div class="ion-padding">Modell Mock</div>
            <div class="ion-padding">{{this.item?.item_type || '-'}}</div>
            <div class="ion-padding">Serien-Nummer: {{this.item?.serial_number || '-'}}</div>
            <div class="ion-padding">Beschreibung: {{this.item?.description}}</div>
          </div>
          <div class="equipment-page-io-vertical equipment-page-status-wrapper" [ngStyle]="{'order': showMobileMenu ? 1:4}">
            <div style="padding: 1rem 1rem 0 1rem">Status: {{this.item?.status }}, {{+ this.item?.borrowed? 'ausgegeben' : 'verfügbar'}}
              <span class="availability-dot"
                    [ngStyle]="{'background-color':
                    getStatusColor(this.item?.status, this.item?.borrowed)}"></span></div>
            <div style="padding: 1rem 1rem 0 1rem">ID: {{this.item?.dynamic_id}}</div>
            <ion-button *ngIf="!showMobileMenu" class="max-width-100 ion-padding btn-secondary" [fill]="'outline'" color="medium" (click)="showQRCode()">
              QR Code anzeigen
            </ion-button>
            <div *ngIf="createdCode === true" class="equipment-page-qrcode ion-margin-top ion-margin-horizontal">
              <qrcode [qrdata]="this.item?.dynamic_id" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            <ion-button *ngIf="!showMobileMenu" class="max-width-100 ion-padding btn-secondary" [fill]="'outline'" color="medium" (click)="navigateToUpdateItem()">
              Item bearbeiten
            </ion-button>
            <ion-button *ngIf="!showMobileMenu" class="max-width-100 ion-padding btn-secondary" [fill]="'outline'" color="danger" (click)="navigateToDefect()">
              Defekt melden
            </ion-button>
          </div>
        </div>
        <div class="equipment-page-io-horizontal equipment-page-io-history" *ngIf="!showMobileMenu">
          <app-history-list [filter]="{item_id: this.item?.dynamic_id}"></app-history-list>
        </div>
      </div>
    </div>

    <div class="equipment-page-io-bottom-toolbar" [ngClass]="{ 'ion-justify-content-between': !showMobileMenu }">
      <div *ngIf="!showMobileMenu">
        <ion-button class="max-width-100" color="primary" [fill]="'outline'"
                    (click)="backButtonClicked()">
          Zurück
        </ion-button>
      </div>
        <ion-button cy-data="equ-action" class="max-width-100" color="primary"
        (click)="navigateToBookAndReturn()">
          {{this.item?.borrowed ? 'Rücknahme' : 'Ausgabe'}}
        </ion-button>
    </div>


  </div>


</ion-content>
