.equipment-page-io-vertical {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.h-100 {
  height: 100%;
}

.equipment-page-io-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.equipment-page-io-header {
  max-width: 400px;
  padding: 1rem;

}

.equipment-page-picture-wrapper {
  overflow: hidden;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 200px;
  max-height: 200px;
  max-width: 200px;
  border: 3px solid var(--ion-color-light);
  border-radius: 2px;
  color: var(--ion-color-medium);
}

.equipment-page-io-history {
  margin: 1rem;
  display: flex;
  flex: 1 1;
  border: 3px solid var(--ion-color-light);
  border-radius: 2px;
  min-width: 600px;
  color: var(--ion-color-medium);
}

.equipment-back-button {
  margin: 0 0 0 1rem;
  cursor: pointer;
}

.equipment-page-info-container {
  flex-shrink: 1;
  justify-content: center;
}

.equipment-page-info-container-description {
  flex-shrink: 1;
  justify-content: center;
  align-items: end;
}

.max-width-100 {
  max-width: 250px;
}


.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.equipment-page-status-wrapper {
  align-items: end;
}

.equipment-io-mobile-column {
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center;

  .equipment-page-status-wrapper {
    align-items: start;
  }
}


.equipment-page-io-ordered > div:nth-child(1) {
  order: 2;
}

.equipment-page-io-ordered > div:nth-child(2) {
  order: 3;
}

.equipment-page-io-bottom-toolbar {
  justify-content: center;
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
}

.availability-dot {
  display: inline-flex;
  height: 15px;
  width: 15px;
  margin-left: .2rem;
  border-radius: 50%;
  justify-self: center;
}

.equipment-page-io-description-wrapper{
  margin: 1rem .5rem 1rem .5rem;
  padding: 1rem .5rem 0 .5rem;
  border: 3px solid var(--ion-color-light);
  border-radius: 2px;
}

.equipment-page-io-text {
  flex-grow: 1;
  /*
  margin: 0 0 0 0.75rem;
  */
}

.equipment-page-io-label{
  margin:0 0 0.2rem 0;
  min-width: 100px;
  color: grey;
  font-size: 0.75rem;
}
