.back-button {
  margin: 0 0 0 1rem;
}

.item-update-flex-main {
  display: flex;
}

.item-update-flex-item-infos {
  display: flex;
  flex-direction: column;
}

.page-io-bottom-toolbar {
  justify-content: center;
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
}
