.item-update-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
}
.item-update-flex-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 400px;
}

.item-update-flex-item-forms-card {
  display: flex;
  border: solid #f6f7f9 1px;
  border-radius: 6px;
  padding: 10px;
  flex-direction: column;
}

.item-update-flex-item-form {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.item-update-flex-item-form-info {
  width: 140px;
  min-width: 140px;
}

.item-update-flex-item-form-field {
  display: flex;
  flex: 1 1 400px;
  border: solid grey 1px;
  border-radius: 6px;
}

.item-update-textarea {
  border: solid #f6f7f9 2px;
  border-radius: 6px;
}

.page-io-bottom-toolbar {
  justify-content: center;
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
}
.item-update-value-label{
  margin-bottom: 1rem;
}
